// this is for the cards of pruducts

.cards{

    // FUNCTIONALITY

    perspective: 160rem;
    -moz-perspective: 160rem;
    position: relative;
    height: 50rem;

    &__side{
        height: 50rem;
        transition: all .7s ease;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 4px;
        // overflow: hidden;
        box-shadow: 0 3rem 6rem rgba($color-black, .15);
        

        &--front{
            background-color:#fff;
            
        }

        &--back{
            transform:rotateY(200deg);
            text-align: center;
            &-1, &-red{
                background-image: linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark);
            }
            &-2, &-blue {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-3, &-green {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &:hover &__side--front{
        transform:rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }


    // FRONT SIDE STYLING
    &__picture{
        background-size: cover;
        height: 20rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        border-top-left-radius: 4px;
        border-top-right-radius:4px;

        &--1, &--red{
            background-image:linear-gradient(to right bottom,
                rgba($color-secondary-light, .6),
                rgba($color-secondary-dark,.5)),
            url(../img/buja1.png);
        }
        &--2, &--blue {
            background-image:linear-gradient(to right bottom,
            rgba($color-primary-light, .6),
            rgba($color-primary-dark, .5)),
            url(../img/ubuviz.png);
            ;
        }
        &--3, &--green {
            background-image:linear-gradient(to right bottom,
            rgba($color-tertiary-light, .6),
            rgba($color-tertiary-dark, .5)),
            url(../img/tmt.png);
        }
    }

    &__headings{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform:uppercase;
        text-align: right; 
        color: $color-white;
        position: absolute;
        top: 8rem;
        right: 2rem;
        width: 56%;
    }

    &__headings-span{
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1, &--red{
            background-image: linear-gradient(to right bottom, 
                $color-secondary-light,
                rgba($color-secondary-dark,0.85))
            ;
        }
        &--2, &--blue {
            background-image:linear-gradient(to right bottom,
                $color-primary-light,
                rgba($color-primary-dark, 0.85));
        }
        &--3, &--green {
            background-image:linear-gradient(to right bottom,
                $color-tertiary-light,
                rgba($color-tertiary-dark, 0.85));
        }
    }

    &__details{

        text-align: center;
        font-size: 1.8rem;
        padding: 7rem;
        margin: 0 auto;

    }

    // BACK SIDE STYLING

    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        text-align: center;
    }

    &__template-box {
        text-align: center;
        color:$color-white;
        margin: 5rem;
    }

    &__template-id {
        font-size: 6rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    &__template-msg {
        font-size: 1.7rem;
    }

    &__link{
        
        margin : 3rem;
        display: inline-block;
        text-decoration: none;
        color :$color-white;
    }
}