// client styling 

.clients {
    width: 30%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .2);
    background-color: rgba($color-white, 1);
    box-shadow: 4px;
    padding: 3rem;
    padding-left: 5rem;
    font-size: 1.4rem;
    transform: skewX(-12deg);
    display:none;
    opacity: 0;
    visibility: hidden;
    // transition: translateY(-5rem);
    margin-top:6rem;
    

    &>* {
        transform: skewX(12deg);
    }

    &__shapes {
        width: 30%;
        height: 50%;
        float: left;
        -webkit-shape-outside: circle(36% at 50% 50%);
        shape-outside: circle(36% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(10deg);
        position: relative;
    }

    &__img {
        width: 100%;
        transform: scale(1);
        backface-visibility: hidden;
        transition: all .5s;
        // margin-top: -2rem;
    }

    &__appreciation {
        transform: skewX(12deg);
        margin-left: 25px !important;
        font-size: 2rem;
    }

    &__caption {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        font-size: 1.4rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -10%);
    }

    &:hover &__img {
        transform: translateY(-1rem) scale(1);
        filter: blur(4px) brightness(60%);
        backface-visibility: hidden;
    }
}

.scroll {
    // top: 95rem;
    // left: 20rem;
    // transition: all .3s;
    position: inherit;
    background-color: rgba($color-black, .6);
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    z-index: 220;
    box-shadow: 0 1.5rem 5rem rgba($color-white, .3);
    text-align: center;
    cursor: pointer;

    &:link,
    &:visited {
        color: $color-white;
        position: absolute;
        font-size: 4.2rem;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, 790%);
        text-decoration: none;
        // display: inline-block;
        transition: all .2s;
    }

    &:hover {
        color: rgba($color-primary-light,.7);
    }
}
