// this is for the about section | photos styling

.Composition{
    position: relative;

    &__photo{
        width:55%;
        // height: 2px;
        box-shadow:0 1.5rem 4rem rgba($color-black,.4);
        border-radius: 2px;
        position:absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 1.4rem;

        &:not(:first-child){
            width:50%;
        }

        &--p1{
            left:0;
            top:-2rem;
        }

        &--p2 {
            right: 0;
            top: 3.5rem;
        }

        &--p3 {
            left: 10%;
            top: 15rem;
        }

        &:hover{
            outline: 0.7rem solid $color-primary;
            transform: scale(1.6) translateY(-.8rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black,.5);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(.8);
    }
}
.about{
    font-size: 1.8rem;
}