// for the footer section

.footer{
    background-color:$color-grey-dark-3;
    padding: 0 0;
    font-size: 1.5rem;
    color: $color-grey-light-1;
    height:20%;

    &__logo-box{
         text-align: center;
        //  background-color: $color-grey-light-1;
         border-radius: 4px;
         width:20rem;
         margin: auto;
         padding: 4px;
    }
    &__logo{
        width: 15rem;
        height: auto;
    }

    &__list{
        list-style: none;
        font-size: 3rem;
        text-align: center;
        &-adresses {
            margin: 0;
            padding-top:40px; 
        }
    }
    .email{
        width:5% !important;
        padding: 0 !important;
    }
    &__link{
        &:link,
        &:visited{
            color: $color-grey-light-1;
            // background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .5;
            padding: 2rem;
        }

        &:hover,
        &:active{
            color: $color-primary-light;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.5);
        }
    }

    &__copyright{
        border-top: 1px solid $color-grey-light-1;
        margin: auto;
        padding-top: 2rem;
        width: 22rem;
    }

    .fas {
        display: block;
        margin: 2rem;
        font-size: 4rem;
    }

    &__adresses{
        text-align: center;
        margin-bottom: 10rem;
        padding: 0 4px;
    }

    h4 {

        text-align: center;
        padding-bottom: 5rem;
    }

    [class^="col-"] {
        height: 10rem;
        margin-right: calc(#{$gutter-horizontal} - 3rem) !important;

        &:not(:nth-child(3)):not(:last-child) {
            border-right: 1px solid $color-grey-light-1;
            display: inline-block;
        }

        &:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
            border-left: 1px solid $color-grey-light-1;
        }
    }
}


