// section conctact styling

.form{

    height:70%;

    &__group:not(:last-child){
        margin-bottom: 2rem;
    }
    &__input{
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white,.5);
        border:none;
        border-bottom: 3px solid transparent;
        width: 60%;
        display: block;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-tertiary-light;
        }

        &:focus:invalid{
            border-bottom: 3px solid $color-invalid;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top:.7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}

textarea{
    resize: none;
}

.success{
    background-color: $color-tertiary-light;
    border: .6px solid $color-tertiary-dark;
    border-radius: 4px;
    color:$color-grey-dark;
    font-size: 1.5rem;
    margin:12px 0;
    padding: 4px;
    display: inline-block;
    animation: fade .2s;
    // opacity: 0;
    // visibility: hidden;
}

.error{

    background-color: rgb(248, 144, 144);
    border: .6px solid red;
    border-radius: 4px;
    color: black;
    font-size: 1.5rem;
    margin: 12px 0;
    padding: 4px;
    display: inline-block;
    animation: fade .2s;
    // opacity: 0;
    // visibility: hidden;

}