// team styling


.member-box{
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    transition: transform .3s;

    &__profile{
        display:block ;
        margin:0 auto;
        width:100%;
        margin-bottom: 1.5rem;
        border-radius: 100%;
    }
    &__icon{
        font-size: 3rem;
        margin-bottom: .1rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
        
    }
    &:hover{
        animation-name: bounceIn;
        animation-duration: 450ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        // animation-delay: 0.05s;
        transition: transform .3s;
    }
}