// pop section | it actually not in use in page but there's some element depending on him

.popup{
    height:100vh;
    width:100%;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .95);
    z-index: 9999;
    opacity: 0;
    visibility: hidden; 
    transition: all .3s;
    position:fixed;
   
    

    &:target{
        opacity: 1;
        visibility: visible;
    }

    &__close{
        &:link,
        &:visited{
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right:2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
        }

        &:hover{
            color: $color-primary;
        }
    }

    &__content{
        @include centerOBJ;
        width:80%;
        // height: 80rem;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black,.5);
        border-radius: 4px;
        display: table;
        overflow: hidden;
    }

    &__left{
        width: 50%;

        display: table-cell;
    }

    &__right{
        width: 50%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }
    &__img{
        display: block;
        width:100%;
    }
    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem; //1rem = ftsi:14px;
        -moz-column-rule: .1rem solid $color-grey-dark-2;

        column-count: 2;
        column-gap: 4rem; //1rem = ftsi:14px;
        column-rule: .1rem solid $color-grey-dark-2;

        hyphens: auto;
    }
}