// products styling

.rended{
    width: 80%;
    
    margin: 2rem auto;
    transition: all 1s;
    background-image: $color-grey-dark; 
    
    
    .card {
        box-shadow: 0 4rem 8rem rgba($color-black, .6);
        background-color: rgb(228, 225, 225);
        color: $color-black;
        box-shadow: 4px;
        padding: 6rem;
        padding-left: 9rem;
        // font-size: $default-font-size;
        transform: skewX(-1.5deg) scale(1.1);
        border-radius: 2px;
        // position:absolute;
        z-index: 10;
        transition: all .2s;
        // outline-offset: 1.4rem;
        position: relative;
        height: 20% !important;

        &__item{
            transform: skewX(1.5deg);
            font-size: 1.2rem;
            margin-bottom: 2rem;

            -moz-column-count: 2;
            -moz-column-gap: 4rem; //1rem = ftsi:14px;
            -moz-column-rule: .1rem solid $color-grey-dark-2;

            column-count: 2;
            column-gap: 4rem; //1rem = ftsi:14px;
            column-rule: .1rem solid $color-grey-dark-2;

            hyphens: auto;

            
            
        } 

        &-img-top {
            // @include centerOBJ;

            width: 100% !important;

        }

        &-text {
            font-size: 105%;
        }

         &:hover {
            //  outline: 0.7rem solid $color-primary;
            //  transform: scale(1.6) translateY(-.8rem);
            //  box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
             z-index: 20;
         }
    }

    .feuille{
            margin-top: 0;
            margin-bottom: 3rem;
            margin-left:35%;
    }

    

}

.d_none{
    display: none;
    visibility: hidden;
}

.popup__close {
    // top: 95rem;
    // left: 20rem;
    // transition: all .3s;
    position: fixed;
    background-color: rgba($color-white,1);
    height:9rem;
    width: 9rem;
    border-radius: 50%;
    z-index: 22222222000;
    box-shadow: 0 1.5rem 5rem rgba($color-black, .3);
    text-align: center;
    cursor: pointer;

    &:link,
    &:visited {
        color: $color-black;
        position: absolute;
        top: 83rem;
        left: 8rem;
        font-size: 6rem;
        text-decoration: none;
        // display: inline-block;
        transition: all .2s;
    }

    &:hover {
        color: $color-primary;
    }
}

