// section appreciation | not also in use but like the pop up it kept for future purpose

.services{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .2);
    background-color: rgba($color-white, .4);
    box-shadow: 4px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    

    & > *{
        transform: skewX(12deg);
    }

    &__shapes{
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(36% at 50% 50%);
        shape-outside: circle(36% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
    }

    &__img{
        width: 100%;
        transform:  scale(1.1);
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__appreciation{
        transform: skewX(12deg);
        margin-left: 25px !important;

    }

    &__caption{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, 20%);
        color:$color-white;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img{
        transform: translateY(-2rem) scale(1);
        filter: blur(4px) brightness(60%);
        backface-visibility: hidden;
    }
}