{% extends 'base.html' %}
{% load i18n static %}

{% block meta %}
<title>{{ flatpage.title }} | UbuViz</title>
<meta charset="utf-8">
{% if no_meta_viewport %}{% else %}<meta name="viewport" content="width=device-width, initial-scale=1">{% endif %}
<meta name="keywords" content="Ubuviz, Bujumbura, TechViz, Web, Mobile, Development, Django, Python">
<meta name="description" content="{{ UBUVIZ_DESCRIPTION }}">
<meta name="author" content="Ubuviz">
{% endblock %}

{% block opengraph %}
<!-- http://ogp.me/ -->
<meta property="og:title" content="{{ flatpage.title }} | UbuViz" />
<meta property="og:description" content="{{ UBUVIZ_DESCRIPTION }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{{ page_meta_image }}" />
<meta property="og:site_name" content="UbuViz" />
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}"/>
{% endblock %}
{{ flatpage.title }}

{% block content %}
<div class="container bg-linear-light first-block pt-4 mt-5 mb-5">
    <h3>{{ flatpage.title }}</h3>
    <div class="row">
        <div class="col-md-8">
            {{ flatpage.content }}
            <hr>
            {% include 'inc/facebook_like.html' %}
        </div>
        <div class="col-md-4">
{% include 'inc/ubuviz_facebook_page.html' %}
        </div>
    </div>
</div>
{% endblock %}
