{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container mt-5 first-block bg-linear-light pt-3">
    <h2>{% trans 'Satisfied Clients' %}</h2>
    <div class="row mt-5">
        <div class="col-lg-9">
            <div class="row">
            {% for client in clients %}
            <div class="col-lg-4 col-md-4 mb-4 mt-4">
            <div class="bg-light-2 {% if client.picture %}p-0{% else %}pt-2 pb-2{% endif %} rounded position-relative" style="height: 150px;">
            <h3 class="text-left mb-4{% if client.picture %} position-absolute{% endif %} rounded" style="background: rgba(255,255,255,.9); top:5px; left: 5px;">{{ client.name }}</h3>
                {% if client.picture %}<img src="{{ client.picture.url }}" class="rounded img-fluid {% cycle 'float-left' 'float-right' %} w-100 mr-3 mb-3" style="height: 100%;" />{% endif %}
                {{ client.small_text }}
                <span class="clearfix"></span>
                {% if client.external_link %}
                <a class="btn btn-sm btn-info  mt-3 float-right{% if client.picture %} position-absolute{% endif %}" href="{{ client.external_link }}" target="_blank" style="{% if client.picture %}bottom: 5px; right: 5px;{% endif %}"><i class="fas fa-eye"></i> {% trans 'See' %}</a>
                <span class="clearfix"></span>
                {% endif %}
            </div>
            </div>
            {% empty %}
            <p class="col-lg-12 alert alert-info">{% trans 'No client yet registered. Coming soon.' %}</p>
            {% endfor %}
            </div>
            {% if clients %}
            <div class="row mt-5"><div class="col-lg-12">{% include 'inc/facebook_like.html' %}</div></div>
            <hr/>
            {% endif %}
            <div class="text-center mt-5 mb-5">
                <a href="{% url 'base:services' %}" class="btn btn-lg">{% trans 'See Services' %}</a> | <a href="{% url 'base:products' %}" class="btn btn-lg">{% trans 'See Products' %}</a>
            </div>
        </div>
        <div class="col-lg-3">
            {% include 'inc/ubuviz_facebook_page.html' %}
        </div>
    </div>
</div>
{% endblock %}
