{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="conatiner">
	<div class="jumbotron alert alert-success">
		<h3>{% trans 'Success' %}</h3>
		<p>{% trans 'Thank you for your message.' %}</p>
		<p>{% trans 'As soon as possible our team will get in touch with you.' %}</p>
	</div>
</div>
{% endblock %}