{% extends 'base.html' %}
{% load i18n %}
{% block content %}
	<div class="container mt-5 pb-3 pt-4 mb-5 bg-linear-light">
	<h2>{% trans 'Contact' %}</h2>
	<div class="row">
		<div class="col-md-7">
			<form method="post" action="{% url 'base:contact' %}">
				{% include 'inc/forms.html' with form=form %}
  				<button type="submit" class="btn btn-primary">
  					<i class="fab fa-telegram"></i>
  					{% trans 'Send' %}
  				</button>
			</form>
		</div>
		<div class="col-md-5">
			<div class="jumbotron bg-light">
				<p class="text-center">Google Map</p>
			</div>
			<div>
				<h4>UbuViz</h4>
				<dl class="row">
  					<dt class="col-sm-4"><i class="fas fa-phone"></i> Tel :</dt>
  					<dd class="col-sm-8">{% for phone in UBUVIZ_PHONES %}{{ phone}} {% if not forloop.last %},{% endif %}{% endfor %}</dd>
  					<dt class="col-sm-4"><i class="fas fa-envelope"></i> Email :</dt>
  					<dd class="col-sm-8">{{ UBUVIZ_EMAIL }}</dd>
  					<dt class="col-sm-4"><i class="fas fa-globe"></i> Website :</dt>
  					<dd class="col-sm-8">http://ubuviz.com</dd>
  				</dl>
			</div>
            <style type="text/css">#contact-social a{color: #17a2b8;}</style>
            <div id="contact-social">
                <hr/>
                {% include 'inc/socials.html' %}
            </div>
		</div>
	</div>
	</div>
{% endblock %}
