{% extends 'base.html' %}
{% load i18n static %}
{% load flatpages %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}"/>
{% endblock %}

{% block content %}

<section class="container-fluid mt-5" id="services">
<div class="container">
<div class="card-deck">
	{% for service in SERVICES %}
	<div class="card">
		<div class="card-header text-center">
			<i class="fas fa-{{ service.fa_icon }} fa-5x"></i>
		</div>
		<div class="card-body text-center">
			<h5>{{ service.name }}</h5>
			{{ service.small_text }}
		</div>
		<div class="card-footer text-center">
			<a href="{{ service.get_absolute_url }}" class="btn btn-secondary btn-sm"><i class="fas fa-eye"></i> {% trans 'See' %}</a>
		</div>
	</div>
	{% empty %}
	<!-- On replace le premier conteneur -->
	<style type="text/css">
		#banner{
	height:450px;}
	</style>
	{% endfor %}

</div>
</div>
</section>

<section class="container-fluid mt-5">
	<div class="container bg-white pt-4 pb-5" id="home_about">
		<div class="row">
			<div class="col-md-9">
			<div class="overflow-auto">
				{% get_flatpages '/about/' as about_pages %}
				{% for page in about_pages %}
					<h3><a href="{% url 'base:about' %}" style="color: #333;">{{ page.title }}</a></h3>
					{{ page.content|safe|truncatewords:150 }}
				{% endfor %}
				<p><a href="{% url 'base:about' %}" class="btn btn-sm float-right btn-secondary">
					<i class="fas fa-plus"></i> {% trans 'Read More' %}
				</a></p>
			</div>
			<div>{% include 'inc/facebook_like.html' %}</div>
			<h3 class="mt-5">{% trans 'Our Products' %}</h3>
			<div class="row mb-3">
			{% for product in PRODUCTS %}
			<div class="col-lg-3 product-item rounded-left">
				<figure class="snip1579"><img src="{{ product.picture.url }}" alt="{{ product.name }}"/>
  				<figcaption>
    				<h3>{{ product.name }}</h3>
    				<h5>{{ product.external_link }}</h5>
    				<blockquote id='subproduct-descr'>
      				{{ product.small_text }}
    				</blockquote>
  				</figcaption>
  				<a href="{{ product.get_absolute_url }}"></a>
				</figure>
			</div>
			{% empty %}
			<p>Products not yet added... Coming Soon ...</p>
			{% endfor %}
			</div>
			<div class="row">
				<div class="col-lg-12">
					<a href="{% url 'base:products' %}" class="float-right btn"> <i class="fas fa-arrow-right"></i> All products</a>
				</div>
			</div>
			<div class="row"><div class="col-lg-12">{% include 'inc/facebook_like.html' %}</div></div>
			<hr/>
			<div class="text-center">
				<a href="{% url 'base:clients' %}" class="btn btn-info btn-lg pb-2">
					<i class="fas fa-users fa-2x"></i> {% trans 'Our satisfied clients' %}
				</a>
			</div>
			</div>
			<div class="col-md-3">
				{% include 'inc/ubuviz_facebook_page.html' %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
