{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% include 'base/products_schema_org.html' with product_type="Ubuviz Products" products=products %}
<div class="container mt-5 first-block bg-linear-light pt-3">
    <h2>{% trans 'Products' %}</h2>
    <div class="row">
        <div class="col-md-9">
            {% for product in products %}
            <div class="mb-5 mt-5">
            <h3 class="{% cycle 'text-left' 'text-right' as text_align %} mb-4">{{ product.name }}</h3>
            <div>
                {% if product.picture %}<img src="{{ product.picture.url }}" class="rounded img-fluid {% cycle 'float-left' 'float-right' %} mr-3 mb-3" style="width: 250px;" />{% endif %}
                {{ product.small_text }}
                <span class="clearfix"></span>
                <a class="btn btn-lg btn-info  mt-3 {% cycle 'float-right' 'float-left' %}" href="{{ product.get_absolute_url }}"><i class="fas fa-eye"></i> {% trans 'See' %}</a>
                <span class="clearfix"></span>
            </div>
            </div>
            <div class="row"><div class="col-lg-12">{% include 'inc/facebook_like.html' %}</div></div>
            <hr/>
            {% empty %}
            <p class="alert alert-info">{% trans 'No product yet registered. Coming soon.' %}</p>
            {% endfor %}
            <div class="text-center mt-5 mb-5">
                <a href="{% url 'base:services' %}" class="btn btn-lg">{% trans 'See Services' %}</a>
            </div>
        </div>
        <div class="col-md-3">
            {% include 'inc/ubuviz_facebook_page.html' %}
        </div>
    </div>
</div>
{% endblock %}
