{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<!-- Balisage JSON-LD généré par l'outil d'aide au balisage de données structurées de Google -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Product",
  "name" : "{{ product.name }}",
  "image" : "http://ubuviz.com{{ product.picture.url }}",
  "description" : "{{ product.small_text }}",
  "url" : "http://ubuviz/com{{ product.get_absolute_url }}"
}
</script>
<div class="container mt-5 first-block bg-linear-light pt-3">
    <h2>{{ product.name }}</h2>
    <div class="row">
        <div class="col-md-9">
        {% if product.picture %}<img src="{{ product.picture.url }}" class="rounded img-fluid {% cycle 'float-left' 'float-right' %} mr-3 mb-3" style="width: 300px;" />{% endif %}
        {{ product.description|safe }}
        <span class="clearfix"></span>
        <div class="row"><div class="col-lg-12">{% include 'inc/facebook_like.html' %}</div></div>
    <div class="text-center mt-5 mb-5">
                <a href="{% url 'base:products' %}" class="btn btn-lg">{% trans 'See Products' %}</a>
            </div>
        </div>
        <div class="col-md-3">
            {% include 'inc/ubuviz_facebook_page.html' %}
        </div>
    </div>
</div>
{% endblock %}
