{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<!-- Balisage JSON-LD généré par l'outil d'aide au balisage de données structurées de Google -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Product",
  "name" : "{{ service.name }}",
  "image" : "http://ubuviz.com{{ service.picture.url }}",
  "description" : "{{ service.small_text }}",
  "url" : "http://ubuviz/com{{ service.get_absolute_url }}"
}
</script>
<div class="container mt-5 first-block bg-linear-light pt-3">
    <h2><i class="fas fa-{{service.fa_icon}} text-muted"></i> {{ service.name }}</h2>
    <div class="row">
        <div class="col-md-8">
    <div class="mt-5">
        <i class="fas fa-{{service.fa_icon}} fa-8x fa-pull-left fa-border mb-4"></i>
        {{ service.description|safe }}
    </div>
    <div class="row"><div class="col-lg-12">{% include 'inc/facebook_like.html' %}</div></div>
    <hr/>
    <div class="text-center mt-5 mb-5">
        <a href="{% url 'base:services' %}" class="btn btn-lg">{% trans 'All Services' %}</a>
    </div>
        </div>
        <div class="col-md-4">
            {% include 'inc/ubuviz_facebook_page.html' %}
        </div>
    </div>
</div>
{% endblock %}
