{% extends 'base.html' %}
{% load i18n static %}

{% block meta %}
<title>{{ flatpage.title }} | UbuViz</title>
<meta charset="utf-8">
{% if no_meta_viewport %}{% else %}<meta name="viewport" content="width=device-width, initial-scale=1">{% endif %}
<meta name="keywords" content="{{ page_meta_keywords }}">
<meta name="description" content="{{ page_meta_description }}">
<meta name="author" content="{{ page_meta_author }}">
{% endblock %}

{% block opengraph %}{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}"/>
{% endblock %}
{{ flatpage.title }}

{% block content %}
<div class="container bg-linear-light first-block pt-4 mt-5 mb-5">
    <h3>{{ flatpage.title }}</h3>
    <div class="row">
        <div class="col-lg-8">
            {{ flatpage.content }}
        </div>
        <div class="col-lg-4">
        </div>
    </div>
</div>
{% endblock %}
