// rows settings used in cards,about,contact,footer....

.rows1{
    max-width: $grid-width;
    margin:0 auto;

    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    [class^="col-"]{
        float:left;

        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-two{
        width:calc(((100% - #{$gutter-horizontal}) / 2));
        font-size: 1.7rem;
    }
    .col-1-of-three{
        width:calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }
    .col-2-of-three {
        width:calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }

    .col-1-of-four{
        width:calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }
    .col-2-of-four {
        width:calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
        ;
    }
    .col-3-of-four {
        width:calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
        ;
    }
}