// header styling and all the classes nesting from it

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
        rgba($color-primary-dark, 0.6),
        rgba($color-primary-light, 0.3)),
        url(../img/head-bck.jpg);
    background-size: cover;
    background-position: right;
    position: relative;
    // position: fixed;/
    /* this is where the top and left attribute in logo-box start counting --- it's the reference inheritance*/
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        height: 35%;
        /* position: relative; */
        /* here top and left reference to the relative position in the mother parent container --- it's where they start counting */
        background-image: linear-gradient(to top right,
            rgba($color-attached-red, 0.9),
            rgba($color-attached-pink, 0.699));
        background-size: cover;
        background-position: top left;
        /* this is where the top and left attribute in logo-box start counting --- it's the reference inheritance*/
        clip-path: polygon(0 34%, 8% 0, 14% 0, 0 60%);
        animation: moveInAngle 0.7s ease-out;
        backface-visibility: hidden;
    }

    &__logo {
        /* no width needed coz it's figured out by the browser --- we could also had specify the width and let the browser define the height */
        height: 18.5%;
        margin-left: 2.5%;
        margin-top: 2.9%;
        animation: moveInTop 0.7s ease-out;
    }

    &__icon-sub {
        display: block;
        color: $color-white;
        text-align: right;
        font-size: 1rem;
        font-weight: 200;
        margin-top: -.3rem;
        letter-spacing: .8rem;
        animation: moveInTop 0.7s ease-out;
    }


    &__text-box {
        position: absolute;
        /* same like we did up-top but here we center the box and set the beginning of it to his middle so the box will be set the the center of the container  */
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}