{% load static %}
<!DOCTYPE html>
<html lang="fra">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=lato:100,300,400,700,900">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous"> -->

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

    <meta property="fb:app_id" content="1704834073165101" />
    <meta property="og:url" content="http://{{ request.get_host }}{{ request.path }}" />
    <meta property="og:title" content="UbuViz (Ubuhinga Vizion)" />
    <meta property="og:image" content="{% static 'img/logo.png' %}" />
    <meta name="twitter:card" content="summary">
    <meta property="og:description" content="{{ UBUVIZ_DESCRIPTION }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="UbuViz" />
    <link rel="canonical" href="http://{{ request.get_host }}{{ request.path }}">

    {% if not DEBUG %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93082904-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-93082904-3');
    </script>
    {% endif %}


    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static "img/logo-white1.png" %}">

    <title>UbuViz | IT solutions</title>

    <meta name="author" content="UbuViz" />
    <meta name="description" content="{{ UBUVIZ_DESCRIPTION }}" />
    <meta name="keywords" content="UbuViz, Burundi, IT solutions, Bank" />

    {% include "includes/schema_org.html" %}
</head>

<body>

    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/fr_CA/sdk.js#xfbml=1&version=v3.2&appId=1704834073165101&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


    <!-- ******************************************** Navigation button ********************************************* -->

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button">
            <!-- &nbsp it's an html call to tell that it's an empty element -->
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#about" class="navigation__link"><span>01</span>About Us</a></li>
                <li class="navigation__item"><a href="#services" class="navigation__link"><span>0</span>services</a></li>
                <li class="navigation__item"><a href="#team" class="navigation__link"><span>03</span>Team</a></li>
                <li class="navigation__item"><a href="#section__products" class="navigation__link"><span>04</span>products</a></li>
                <li class="navigation__item"><a href="#clients" class="navigation__link"><span>05</span>clients</a></li>
                <li class="navigation__item"><a href="#contacts" class="navigation__link"><span>06</span>contact us</a></li>
            </ul>
        </nav>
    </div>

    <!-- **************************************************************************************************************** -->

    <!-- ********************************************** the header ******************************************************* -->
    <header class="header">
        <div class="header__logo-box">
            <span><img src="{% static "img/logo.png" %}" alt="ubuviz" class="header__logo"></span>
            <span class="header__icon-sub">ubuviz</span>
        </div>

        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">ubuhinga vizion</span>
                <span class="heading-primary--sub">IT tech firm providing excellent services and products </span>
            </h1>

            <a href="#products" class="btn btn--white btn--animated">Discover our products</a>
        </div>

    </header>

    <!-- ***************************************************************************************************************** -->

    <!-- ***************************************** the about section ***************************************************** -->

        <section class="section-about">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    Exciting tours of our skills
                </h2>
            </div>

            <!-- where data from backend will be rended -->
            <div class="rows1">
                <div class="col-1-of-two about" id="about">
                    <!-- this commented for future desire | it's a button for showing more | &rarr
                        it's an html method for an arrow item -->

                    <!-- <a href="#" class="btn-text">Learn more &rarr;</a> -->

                </div>
                <!-- photos kept because of lacking enterprise photos | it's were real photo will be putted  -->
                <div class="col-1-of-two">
                   <div class="Composition">
                       <img src="{% static "img/app-3.jpg" %}" alt="photo 1" class="Composition__photo Composition__photo--p1">
                       <img src="{% static "img/app-2.jpg" %}" alt="photo 2" class="Composition__photo Composition__photo--p2">
                       <img src="{% static "img/app-1.jpg" %}" alt="photo 3" class="Composition__photo Composition__photo--p3">
                   </div>
                </div>
            </div>
            <div style="text-align: center;">
                <div class="fb-like" data-href="http://{{ request.get_host }}{{ request.path }}" data-layout="standard" data-action="like"
                    data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
        </section>
    <!-- ******************************************************************************************************** -->

    <!-- ******************************** rended services from back-end ************************************** -->

            <div class="section-services1" id="services1">
                <div class="rended2" id="rended">
                        <table id="services1"></table>
                </div>
            </div>

    <!-- *********************************************************************************************** -->


    <!-- ***************************************** section team ************************************** -->

        <section class="section-team"  id="team">
            <table>
                <div class="rows1">
                    <!-- where teams are rended from backend -->
                </div>
            </table>
        </section>

    <!-- ********************************************************************************************* -->

<!-- *********************************************  SECTION PRODUCT  ********************************************** -->

        <section class="section-products" id="products">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                        Our most popular products
                </h2>
            </div>

            <!-- ******************** section products( FOR CARDs ) | rended from the backend ************** -->

            <div class="rows1" id="product1"></div>

            <!-- ****************************************************************************** -->

            <!-- ***************button to render all products from the backend****************** -->

            <div class="u-center-text u-margin-top-big">

                    <button class="btn btn--blue" id="getProducts">
                        Discover all products
                    </button>

            </div>

            <!-- ****************************************************************************** -->

        </section>


        <!-- *********************** products rended after clinking the discover button ******************************** -->

        <a href="#section__products" class="popup__close d_none" id="home">
            <i class="fas fa-arrow-left"></i>
        </a>
        <div class="section_products1 rended" id="output"><table></table></div>

        <!-- *********************************************************************************************************** -->


            <!-- *********  popup if needed to render some files  *********** -->

                    <!-- <div class="popup" id="popup">
                            <div class="popup__content">
                                <div class="popup__left"></div>

                                <div class="popup__right">
                                    <a href="#section__products" class="popup__close">&times;</a>
                                    <h2 class="heading-secondary u-margin-bottom-medium"></h2>
                                    <h2 class="u-margin-bottom-small"></h2>
                                    <p class="popup__text"></p>
                                </div>
                            </div>
                        </div> -->

            <!-- ************ end comments *************** -->


<!--*************************** section clients ***************************************** -->

        <section class="section-clients" id="clients">

            <div class="bg-video">
                <video class="bg-video__content"  autoplay loop>
                    <source src="{% static "img/meet.mp4" %}"type="video/mp4">
                </video>
            </div>

            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    our clients
                </h2>
            </div>

            <!-- where clients are rended -->
            <div id="clients-rended"><table></table>
                <div class="rows1">
                    <div class="clients" ></div>
                </div>
            </div>

            <!-- the scrolling button -->
            <div class="u-center-text u-margin-top-big">
                <a href="#section-clients" class="scroll" id="scroll_clients_down">
                    <i class="fas fa-angle-double-down"></i>
                </a>
            </div>
        </section>


<!-- ************************************************************************************ -->



<!-- ********* section appreciation from services  | kept for future desires  *********** -->

        <!-- <section class="section-services" id="services">

            <div class="bg-video">
                <video class="bg-video__content"  autoplay loop>
                    <source src="{% static "img/meet.mp4" %}"type="video/mp4">
                </video>
            </div>

            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    we make people genuinely happy
                </h2>
            </div>
            <div class="rows1">
                <div class="services" id="clients">
                    <figure class="services__shapes">
                        <img src="{% static "img/ibb.png" %}" alt="interbank technic service chef" class="services__img">
                        <figcaption class="services__caption">Mme NTIRANDEKURA</figcaption>
                    </figure>
                    <div class="services__apreciation">
                        <h3 class="heading-tertiary u-margin-bottom-small"> I really enjoyed Ubuviz services at interbank</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos provident, alias ex unde totam voluptatum quae commodi placeat voluptate, labore debitis voluptas molestiae, asperiores pariatur aliquam consequuntur. Molestiae, perspiciatis nulla.
                            labore debitis voluptas molestiae, asperiores pariatur aliquam consequunt
                        </p>
                    </div>
                </div>
            </div>

            <div class="rows1">
                <div class="services">
                    <figure class="services__shapes">
                        <img src="{% static "img/profile.png" %}" alt="TMT ceo" class="services__img">
                        <figcaption class="services__caption">Mr HATUNGIMANA</figcaption>
                    </figure>
                    <div class="services__apreciation">
                        <h3 class="heading-tertiary u-margin-bottom-small"> my work life at tanganyika money transfer is completely different now!</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos provident, alias ex unde totam voluptatum quae commodi placeat
                            voluptate, labore debitis voluptas molestiae, asperiores pariatur aliquam consequuntur. Molestiae, perspiciatis
                            nulla. labore debitis voluptas molestiae, asperiores pariatur aliquam consequunt
                        </p>
                    </div>
                </div>
            </div>

            <div class="u-center-text u-margin-top-big">
                <a href="#" class="btn-text">Read all stories &rarr; </a>
            </div>
        </section> -->
    </main>

    <!-- **************************************************************************************************************** -->


    <!-- **************************************************section contact*********************************************-->

        <section class="section-contact" id="contacts">
             <div class="rows1">
                 <div class="contact">
                    <div class="contact__form">
                        <form action="#" class="form" id="ajax-contact" method="POST">
                            <!-- setting the token in the form -->
                         {% csrf_token %}

                            <div class="u-margin-bottom-small-2">
                                <h3 class="heading-secondary__contact">
                                    Contact Us
                                </h3>
                            </div>

                            <div class="message" id="contact-messages"></div>

                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Full name" name="name" id="name" required>
                                <label for="name" class="form__label">Full name</label>
                            </div>
                            <div class="form__group">
                                <input type="email" class="form__input" placeholder="Email" name="email" id="email" required>
                                <label for="email" class="form__label">Email adresse</label>
                            </div>
                            <div class="form__group">
                                <textarea class="form__input" name="message" id="message" required placeholder="message"></textarea>
                                <label for="message" class="form__label">Message</label>
                            </div>

                            <!-- &rarr for html arrow -->
                            <div class="form__group">
                                <button type="submit" class="btn btn--blue" id="contactUs">send &rarr;</button>
                            </div>
                        </form>
                    </div>
                 </div>
             </div>
        </section>


    <!-- *************************************************section footer******************************************* -->
    <footer class="footer">
        <div class="footer__list">
            <ul class=" footer__list-adresses">
                <a href="{{ UBUVIZ_FACEBOOK }}" class="footer__link">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="{{ UBUVIZ_TWITTER }}" class="footer__link">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="{{ UBUVIZ_INSTAGRAM }}" class="footer__link">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="{{ UBUVIZ_LINKEDIN }}" class="footer__link">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="{{ UBUVIZ_GOOGLE_PLUS }}" class="footer__link">
                    <i class="fab fa-google-plus"></i>
                </a>
                <a href="mailto:{{ UBUVIZ_EMAIL }}" class="footer__link email">
                    <i class="fas fa-at"></i>
                </a>
            </ul>
        </div>
        <div class="footer__adresses">
            <div class="rows1">
                <div class="col-1-of-four">
                    <p>
                        <i class="fas fa-phone-square footer__adresse"></i>Phone number: {% for phone in UBUVIZ_PHONES %}<a href="tel:{{ phone }}">{{ phone }}</a>,{% endfor %}
                    </p>
                </div>
                <div class="col-1-of-four">
                    <p>
                        <i class="fas fa-road footer__adresse"></i>Road: {{ UBUVIZ_ROAD }}
                    </p>
                </div>
                <div class="col-1-of-four">
                    <p>
                        <i class="fas fa-home footer__adresse"></i> House: {{ UBUVIZ_HOUSE }}
                    </p>
                </div>
                <div class="col-1-of-four">
                    <p>
                        <i class="fas fa-city footer__adresse"></i>Quarter: {{ UBUVIZ_QUARTER }}
                    </p>
                </div>
            </div>
        </div>

        <h4 class="footer__copyright">
            &copy; UbuViz | Ubuhinga Vizion {% now "Y" %}
        </h4>
    </footer>

    <!-- ************************************************************************************************************ -->


    <!-- ***************** scripts importation ************************** -->


    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'popper.js/dist/popper.min.js' %}"></script>
    <script src="{% static 'axios/dist/axios.min.js' %}"></script>
    <script src="{% static '@fortawesome/fontawesome-free/js/all.min.js' %}"></script>



    <!-- ********************************************** SCRIPT FUNCTIONALITY ****************************************** -->

    <!-- script navigation | to toggle the navigation button | more explication in css navigation -->
    <script>
        $(".navigation__item").on('click', function () {

            $("#navi-toggle").prop('checked', false);

        })
    </script>


    <!-- *********** get list products ************* -->
    <script>

        document.getElementById('getProducts').addEventListener('click', getProducts);

        function getProducts() {

        fetch('/products/')
            .then((res) => res.json())
            .then((data) => {
                console.log(data);
                var output = `<h2 class="heading-secondary feuille">detailled fetch</h2>`;
                data.results.forEach(function (products) {
                    output +=
                    `
                            <div class="rended" id="">

                                <tr>
                                <div class="card" style="">
                                    <div class="card__item">
                                        <img src="${products.picture}" alt="Buja cerdit union" class="card-img-top">
                                    </div>

                                    <div class="card-body card__item">
                                        <h2 class="card-title heading-secondary-2">
                                            ${products.name}
                                        </h2>
                                        <h2 "card-subtitle mb-2 text-muted">${products.small_text}</h2>
                                        <p class="card-text">
                                            ${products.description}
                                        </p>
                                    </div>
                                </div>
                                </tr>
                            </div>
                    `;
                });
                window.scrollTo(0, 700);
                document.getElementById('output').innerHTML = output;
            })
            .catch((err) => console.log(err))
        }
    </script>


<!-- ********** function of hinding section to keep just the necessary ******** -->

        <!-- just show te detailed fetch data  and hide others-->

        <script>
            $("#getProducts").click(function () {
                $(".section-about").hide(1000);
                $("#team").hide(1000);
                $("#services1").hide(1000);
                $("#products").hide(1000);
                $("#services").hide(1000);
                $("#clients").hide(1000);
                $("#home").removeClass("d_none");
                $("#home").show(1000);
            });
        </script>

        <!-- **************************** -->

        <!-- reshow removed  section and hide the current fetch  -->

        <script>

            $("#home").click(function () {
                $(".section-about").show(1000);
                $("#team").show(1000);
                $("#services1").show(1000);
                $("#products").show(1000);
                $("#services").show(1000);
                $("#clients").show(1000);
                $("#output").hide(1000);
                $("#home").hide(1000);
            });
        </script>
    <!-- ****************************************************** -->

<!-- ****************  services js function for rendering the section services ******************** -->

<script>

    window.scrollTo(1, 1);
    document.getElementById('services1');
            fetch('/services/')
                .then((res) => res.json())
                .then((data) => {
                    console.log(data);
                    var output = `<h2 class="heading-secondary feuille">services we provide</h2>`;
                    data.results.forEach(function (service) {
                        output +=
                            `
                        <div class="rended" id="">
                            <tr>
                            <div class="card" style="">
                                <div class="card__item">
                                    <i class="${service.icon}"></i>
                                </div>

                                <div class="card-body card__item">
                                    <h2 class="card-title heading-secondary-2">
                                        ${service.name}
                                    </h2>
                                    <h2 "card-subtitle mb-2 text-muted">${service.small_text}</h2>
                                    <p class="card-text">
                                        ${service.description}
                                    </p>
                                </div>
                            </div>
                            </tr>
                        </div>
                `;
                    });
                    document.getElementById('services1').innerHTML = output;
                })
                .catch((err) => console.log(err));
</script>


<script>
    document.getElementById('product1');
        fetch('/products/')
            .then((res) => res.json())
            .then((data) => {
                console.log(data);
                var output = ``;
                var i = 1;
                // loop through ad render data
                data.results.forEach(function (product) {
                    output +=`
                        <div class="col-1-of-three">
                        <div class="cards">
                            <div class="cards__side cards__side--front">

                                <div class="cards__picture cards__picture--${product.card_color}" style="background-image :url(${product.picture});">
                                    
                                </div>
                                <h4 class="cards__headings">
                                    <span class="cards__headings-span cards__headings-span--${product.card_color}">
                                        ${product.name}
                                    </span>
                                </h4>
                                <div class="cards__details">
                                    ${product.small_text}
                                </div>
                            </div>
                            <div class="cards__side cards__side--back">
                            <div class="cards__side cards__side--back cards__side--back-${product.card_color}">
                                <div class="cards__cta">
                                    <div class="cards__template-box">
                                        <p class="cards__template-id">${product.sigle}</p>
                                        <p class="cards__template-msg">`;
                    if(product.external_link){
                        output += `<a href="${product.external_link}" class="cards__link">Visit the page <i class="fas fa-external-link-alt"></i></a><br/>`;
                    }
                    output +=          `<a class="btn btn--white disabled" href="#popup-bcu">Take a look</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    `;
                    i += 1;
                });
                document.getElementById('product1').innerHTML = output;
            })
            .catch((err) => console.log(err));
</script>


<!-- *****************************script for contact submission **********************************-->

<script>
   $(function(){
       // Axios Defaults for Django CSRF Handling
        axios.defaults.xrsfCookieName = "csrftoken";
        axios.defaults.xrsfHeaderName = "X-CSRFToken";

        // Get the form.
        var contact_form = $('#ajax-contact');

        // Get the messages div.
        var formMessages = $('#contact-messages');

        // Action Url for Ajax
        var contact_url = '/contact/';
        var contact_formData = $(contact_form).serialize();

        // Set up an event listener for the contact form.
        $(contact_form).submit(function (event) {
            // Stop the browser from submitting the form.
            event.preventDefault();

            var $name = $('#name');
            var $email = $('#email');
            var $message = $('#message');
            var $token = $('[name="csrfmiddlewaretoken"]');

            // Serialize the form data.
            var contact_formData = $(contact_form).serialize();

            console.log(contact_formData);

            axios.post(contact_url, contact_formData)
            .then(function (data) {
                // Make sure that the formMessages div has the 'success' class.
                $(formMessages).removeClass('error');
                $(formMessages).addClass('success');
                // Set the message text.
                $(formMessages).text('Successfuly submit your contact message');

                // Clear the form.
                $('#name').val('');
                $('#email').val('');
                $('#message').val('');
            })
            .catch(function (error) {
                // Make sure that the formMessages div has the 'success' class.
                $(formMessages).removeClass('success');
                $(formMessages).addClass('error');
                // Set the message text.
                $(formMessages).text('Your contact message has not been sent. Please try again');
            });
        });
   });
</script>

<!--   javascript function for rendering the section of clients   -->

<script>


    document.getElementById('clients-rended');
    fetch('/clients/')
        .then((res) => res.json())
        .then((data) => {
            console.log(data);

            function render_clients(){
                var output = ``;
                data.results.forEach(function (client) {

                    output +=
                        `
                            <div class="clients">
                                <tr>
                                    <figure class="clients__shapes">
                                        <img class="clients__img" src="${client.picture}" alt="interbank technic service chef %}">
                                        <figcaption class="clients__caption">${client.name}</figcaption>
                                    </figure>
                                    <div class="clients__apreciation">
                                        <h3 class="heading-tertiary u-margin-bottom-small">${client.name}</h3>
                                    </div>`
                                    if( client.external_link === null ){
                                        output+=`<p>external link not available</p>`
                                    }
                                    else(output +=`<p>${client.external_link}</p>`)
                                    output += `
                                </tr>
                            </div>
                        </div>`
                    ;
                });
                document.getElementById('clients-rended').innerHTML = output;
            }

            //function to scroll clients and render on two clients | the othres will be displayed when the client hit the scroll button

            function scroll_clients(new_clients){
                // we render first the clients in new new_clients
                render_clients(new_clients);
                // we select the clients class
                var $clients = $(".clients");
                // the render first element of the array by selecting it with slice function
                $clients.slice(0, 1).css({
                    "transform": "scale(1.1) skewX(-12deg)",
                    "background-color": "white",
                    "z-index": "-22",
                    "display": "inherit",
                    "filter": "blur(1px) brightness(90%)",
                    "backface-visibility": "hidden",
                    "opacity": ".8",
                    "animation": "scrollingUpperLittleChild .3s",
                    "visibility": "visible"

                });
                // the render second element of the array by selecting it with slice function
                $clients.slice(1, 2).css({
                    "transform": "scale(1.6) skewX(-12deg)",
                    "background-color": "white",
                    "z-index": "255",
                    "display": "inherit",
                    "opacity": "1",
                    "visibility": "visible",
                    "animation": "scrollingMiddleChild .3s",
                    "outline-offset": "1.4rem",
                    "outline": "0.7rem solid $color-primary",
                    "box-shadow": "0 58rem 4rem rgba(black, 1)"
                });
                // the render third element of the array by selecting it with slice function
                $clients.slice(2, 3).css({
                    "transform": "scale(1.1) skewX(-12deg)",
                    "background-color": "white",
                    "z-index": "-22",
                    "display": "inherit",
                    "opacity": ".8",
                    "filter": "blur(1px) brightness(90%)",
                    "backface-visibility": "hidden",
                    "animation": "scrollingBottomLittleChild .3s",
                    "visibility": "visible"
                });
            }

            // initiate the datafrom the back in variable
            var $clients_list = data.results;
            console.log($clients_list);
            // call the scroll function to render the element for the first time
            scroll_clients($clients_list);

            // the scrolling button function
            $("#scroll_clients_down").click(function () {
                    var el_a = $clients_list.pop();
                    var new_clients = $clients_list.unshift(el_a);
                    scroll_clients($clients_list);
                    // $clients_transition_styling.css("transition", "all .2s");
            });

            $("#scroll_clients_up").click(function () {
                var el_a = $clients_list.shift();
                var new_clients = $clients_list.push(el_a);
                scroll_clients($clients_list);
                // $clients_transition_styling.css({"transition": "all .2s easy out",
                // "transform":"translateY(- 12rem)"})
            });
        })
        .catch((err) => console.log(err));


</script>


<!-- ****************************************************************** -->

<!-- **************************script fo rendering team members -->

<script>

        document.getElementById('.team');
        fetch('/team/')
            .then((res) => res.json())
            .then((data) => {
                console.log(data);
                var output = ``;

                // function to render social links and attribute them an icon
                function render_social(link,l_type){
                    var icon= "";
                    var mail_to = "";
                    switch (l_type) {
                        case "e":
                            icon = "fas fa-at";
                            mail_to = "mailto:"
                            break;
                        case "f":
                            icon="fab fa-facebook-f";
                            break;

                         case "t":
                            icon = "fab fa-twitter";
                            break;
                        case "l":
                            icon = "fab fa-linkedin";
                            break;
                        case "g":
                            icon = "fab fa-google-plus-g";
                            break;

                        case "git":
                            icon="fab fa-github"
                            break;
                    }

                    var html ="";
                    // check for links without null value
                    if(link !== null){
                        html="<a href='"+mail_to+""+link+"'><i class='"+ icon +"'></i></a>";
                    }
                    return html;
                }
                data.results.forEach(function (member) {
                    console.log();
                    output +=
                        `
                        <tr>
                        <div class="rows1">
                        <div class="col-1-of-four">

                            <div class="member-box">
                                <img class="member-box__profile" src="${member.picture}">
                                <div class="member-box__icon">
                                    <i class="fas fa-code"></i>
                                </div>
                                <h3 class="heading-tertiary u-margin-bottom-small">${member.job_title}</h3>
                                <p class="member-box_text">`
                                output+=render_social(member.email_link,"e");
                                output +=`</br>`;
                                output += render_social(member.facebook_link, "f");
                                output += `</br>`;
                                output += render_social(member.twitter_link, "t");
                                output += `<br>`;
                                output += render_social(member.linked_in_link, "l");
                                output += `<br>`;
                                output += render_social(member.google_plus_link, "g");
                                output += `<br>`;
                                output += render_social(member.github_link, "git");

                                output +=`
                                </p>
                            </div>

                        </div>
                        </div>
                        </tr>

                `;
                });
                document.getElementById('team').innerHTML = output;
            })
            .catch((err) => console.log(err));
</script>

<!-- *************************************script for about section ******************************* -->

<script>

    document.getElementById('about');
        fetch('/text/about')
            .then((res) => res.json())
            .then((data) => {
                console.log(data);
                var output = ``;
                output +=
                    `

                    <h3 class="heading-tertiary u-margin-bottom-small">${data.name}</h3>
                    <p class="Paragraph">
                        ${data.description}
                    </p>
                `;
                document.getElementById('about').innerHTML = output;
            })
            .catch((err) => console.log(err));

</script>
<!-- ******************************************************************** -->

</body>

</html>
