// all section are firstly styled in here and implemented in sub classes

.section-about{
    background-color:$color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
    height: 57vh;
    font-size: 1.8rem;
}

.section-team{
    padding:20rem 0;
    background-image: linear-gradient(to right bottom,
        rgba($color-primary-light, 0.7),
        rgba($color-primary-dark, 0.9)),
    url(../img/team.jpg);
    background-size: cover;
    margin-top:15rem;

    transform: skewY(-7deg);

    & > *{
        transform: skewY(7deg);
    }
}
.section-products{
    background-color:$color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top:-10rem;
}

.section-clients {
    position: relative;
    padding: 20rem 0;
    outline-offset: 1.4rem;
}

.section-services{
    position: relative;
    padding: 15rem 0;
}

.section-services1 {
    position: relative;
    padding: 0rem 0;
    height: 98%;
}

.section-contact{
    padding: 16rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light,$color-primary-dark);
    margin-top:10rem;
}

.contact{
    background-image: linear-gradient(105deg, rgba($color-white, .6) 0%, rgba($color-white, .8) 50%, transparent 50%),
    url(../img/contact-us.jpg);
    background-size: cover;
    border-radius: 4px;
    box-shadow: 0 3rem 6rem rgba($color-black,.6);
    
    
    height: 55rem;

    &__form{
        width: 50%;
        padding: 0 6rem;
    }
}