@keyframes moveInTop {
  /* this happen at the beginning --- what we want it to be at the beginning */
  0% {
    opacity: 0;
    /* x because we want it to translate on X axe --- and the negative value because it start a the left side which is in negative value */
    transform: translateY(-10rem); }
  /* the inter-media position */
  /* what we want it to be at the end */
  100% {
    opacity: 1;
    /* zero because we want it to be at where it is now(in the middle) that's why the 0 value which the center of axes */
    transform: translate(0); } }
@keyframes moveInAngle {
  0% {
    opacity: 0;
    transform: rotate(360deg) scale(2); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes moveInLeft {
  /* this happen at the beginning --- what we want it to be at the beginning */
  0% {
    opacity: 0;
    /* x because we it to translate on X axe --- and the negative value because it start a the left side which is in negative value */
    transform: translateX(-10rem); }
  /* the inter-media position */
  80% {
    transform: translateX(1rem); }
  /* what we want it to be at the end */
  100% {
    opacity: 1;
    /* zero because we want it to be at where it is now(in the middle) that's why the 0 value which the center of axes */
    transform: translate(0); } }
@keyframes moveInRight {
  /* this happen at the beginning --- what we want it to be at the beginning */
  0% {
    opacity: 0;
    /* the positive value because it start a the right side which is in positive value */
    transform: translateX(10rem); }
  /* the inter-media position */
  80% {
    transform: translateX(-1rem); }
  /* what we want it to be at the end */
  100% {
    opacity: 1;
    /* zero because we want it to be at where it is now(in the middle) that's why the 0 value which the center of axes */
    transform: translate(0); } }
@keyframes moveInBottom {
  /* this happen at the beginning --- what we want it to be at the beginning */
  0% {
    opacity: 0;
    /* the positive value because it start a the right side which is in positive value */
    transform: translateY(3rem); }
  70% {
    transform: translateY(-1rem); }
  /* what we want it to be at the end */
  100% {
    opacity: 1;
    /* zero because we want it to be at where it is now(in the middle) that's why the 0 value which the center of axes */
    transform: translate(0); } }
@keyframes moveIn {
  0% {
    /* the positive value because it start a the right side which is in positive value */
    transform: translateY(-2rem) scale(1.05); }
  50% {
    transform: translateY(-2rem) scale(1.01); }
  70% {
    transform: translateY(-2rem) scale(1.04); }
  /* what we want it to be at the end */
  100% {
    /* zero because we want it to be at where it is now(in the middle) that's why the 0 value which the center of axes */
    transform: translateY(-2rem) scale(1.03); } }
@keyframes bounceIn {
  0% {
    transform: scale(1.17) translate3d(0, 0, 0); }
  50% {
    transform: translateY(-2rem);
    transform: scale(1.1); }
  80% {
    opacity: 1;
    transform: scale(1.15); }
  100% {
    opacity: 1;
    transform: scale(1.1) translate3d(0, 0, 0); } }
@keyframes scrollingUpperLittleChild {
  0% {
    transform: translateY(-0.9rem);
    filter: blur(1px) brightness(110%);
    backface-visibility: hidden; }
  50% {
    transform: translateY(20rem) scale(1.6) skewX(-12deg);
    opacity: .9; }
  80% {
    transform: translateY(20rem) scale(1.6) skewX(-12deg);
    opacity: .9; }
  98% {
    transform: translateY(-0.9rem) scale(1.1) skewX(-12deg);
    opacity: 1; }
  /* what we want it to be at the end */
  100% {
    transform: translateY(-0.01rem) scale(1.1) skewX(-12deg);
    opacity: 0;
    filter: blur(6px) brightness(90%);
    backface-visibility: hidden; } }
@keyframes scrollingMiddleChild {
  0% {
    transform: translateY(-0.9rem); }
  /* what we want it to be at the end */
  100% {
    transform: translateY(0rem) scale(1.6) skewX(-12deg);
    backface-visibility: hidden; } }
@keyframes scrollingBottomLittleChild {
  0% {
    transform: translateY(0.01rem) scale(1.1) skewX(-12deg); }
  95% {
    transform: translateY(0.01rem) scale(0.4) skewX(-12deg);
    opacity: 0; }
  /* what we want it to be at the end */
  100% {
    transform: translateY(0.01rem) scale(1.1) skewX(-12deg);
    opacity: 1;
    filter: blur(6px) brightness(90%);
    backface-visibility: hidden; } }
*::after, *::before {
  margin: 0;
  padding: 0;
  /* here force every element to inherit the box-sizing of the body*/
  box-sizing: inherit;
  z-index: 999999999999999999999999999999; }

html {
  font-size: 56.25%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 0rem 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* this is for the little shake move that happens after the animation --- it makes it invisible */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* 
animation-delay: 1s; 
animation-iteration-count: 3;
*/ }
  .heading-primary--sub {
    display: block;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: .45rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(to right, deepskyblue, #085cf8);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(3deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.7); }

.heading-secondary__contact {
  margin-bottom: 1.6rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(to right, deepskyblue, #085cf8);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary__contact:hover {
    transform: skewY(3deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.7); }

.heading-secondary-2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  background-image: linear-gradient(to right, deepskyblue, #085cf8);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
  transition: all .2s; }
  .heading-secondary-2:hover {
    transform: skewY(1deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.7); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase; }

.Paragraph {
  font-size: 1.6rem;
  margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-small-2 {
  margin-bottom: 0.05rem;
  margin-top: -2rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-bottom-big {
  margin-bottom: 4rem; }

.u-margin-top-big {
  margin-top: 4rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }
.btn--blue {
  background-color: #008cff;
  color: #fff; }
  .btn--blue::after {
    background-color: #008cff; }
.btn::after {
  /* we need to mention content, to specify it(even though it's empty) in order to get the after pseudo appear otherwise it will not */
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }
.btn--animated {
  animation: moveInBottom .5s ease-in-out .75s;
  /* this to get 0% animation to happen when the page load --- make the button invisible when the page load */
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #008cff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #008cff;
  padding: 3px;
  transition: all .2s; }
.btn-text:hover {
  background-color: #008cff;
  color: #fff;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.25);
  transform: translateY(-3px); }
.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(0px); }

.cards {
  perspective: 160rem;
  -moz-perspective: 160rem;
  position: relative;
  height: 50rem; }
  .cards__side {
    height: 50rem;
    transition: all .7s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 4px;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15); }
    .cards__side--front {
      background-color: #fff; }
    .cards__side--back {
      transform: rotateY(200deg);
      text-align: center; }
      .cards__side--back-1, .cards__side--back-red {
        background-image: linear-gradient(to right bottom, rgba(196, 64, 93, 0.847), #9b002f); }
      .cards__side--back-2, .cards__side--back-blue {
        background-image: linear-gradient(to right bottom, deepskyblue, #085cf8); }
      .cards__side--back-3, .cards__side--back-green {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .cards:hover .cards__side--front {
    transform: rotateY(-180deg); }
  .cards:hover .cards__side--back {
    transform: rotateY(0); }
  .cards__picture {
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
    .cards__picture--1, .cards__picture--red {
      background-image: linear-gradient(to right bottom, rgba(196, 64, 93, 0.6), rgba(155, 0, 47, 0.5)), url(../img/buja1.png); }
    .cards__picture--2, .cards__picture--blue {
      background-image: linear-gradient(to right bottom, rgba(0, 191, 255, 0.6), rgba(8, 92, 248, 0.5)), url(../img/ubuviz.png); }
    .cards__picture--3, .cards__picture--green {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), rgba(40, 180, 133, 0.5)), url(../img/tmt.png); }
  .cards__headings {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 8rem;
    right: 2rem;
    width: 56%; }
  .cards__headings-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .cards__headings-span--1, .cards__headings-span--red {
      background-image: linear-gradient(to right bottom, rgba(196, 64, 93, 0.847), rgba(155, 0, 47, 0.85)); }
    .cards__headings-span--2, .cards__headings-span--blue {
      background-image: linear-gradient(to right bottom, deepskyblue, rgba(8, 92, 248, 0.85)); }
    .cards__headings-span--3, .cards__headings-span--green {
      background-image: linear-gradient(to right bottom, #7ed56f, rgba(40, 180, 133, 0.85)); }
  .cards__details {
    text-align: center;
    font-size: 1.8rem;
    padding: 7rem;
    margin: 0 auto; }
  .cards__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .cards__template-box {
    text-align: center;
    color: #fff;
    margin: 5rem; }
  .cards__template-id {
    font-size: 6rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .cards__template-msg {
    font-size: 1.7rem; }
  .cards__link {
    margin: 3rem;
    display: inline-block;
    text-decoration: none;
    color: #fff; }

.clients {
  width: 30%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  background-color: white;
  box-shadow: 4px;
  padding: 3rem;
  padding-left: 5rem;
  font-size: 1.4rem;
  transform: skewX(-12deg);
  display: none;
  opacity: 0;
  visibility: hidden;
  margin-top: 6rem; }
  .clients > * {
    transform: skewX(12deg); }
  .clients__shapes {
    width: 30%;
    height: 50%;
    float: left;
    -webkit-shape-outside: circle(36% at 50% 50%);
    shape-outside: circle(36% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(10deg);
    position: relative; }
  .clients__img {
    width: 100%;
    transform: scale(1);
    backface-visibility: hidden;
    transition: all .5s; }
  .clients__appreciation {
    transform: skewX(12deg);
    margin-left: 25px !important;
    font-size: 2rem; }
  .clients__caption {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .clients:hover .clients__caption {
    opacity: 1;
    transform: translate(-50%, -10%); }
  .clients:hover .clients__img {
    transform: translateY(-1rem) scale(1);
    filter: blur(4px) brightness(60%);
    backface-visibility: hidden; }

.scroll {
  position: inherit;
  background-color: rgba(0, 0, 0, 0.6);
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  z-index: 220;
  box-shadow: 0 1.5rem 5rem rgba(255, 255, 255, 0.3);
  text-align: center;
  cursor: pointer; }
  .scroll:link, .scroll:visited {
    color: #fff;
    position: absolute;
    font-size: 4.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 790%);
    text-decoration: none;
    transition: all .2s; }
  .scroll:hover {
    color: rgba(0, 191, 255, 0.7); }

.Composition {
  position: relative; }
  .Composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1.4rem; }
    .Composition__photo:not(:first-child) {
      width: 50%; }
    .Composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .Composition__photo--p2 {
      right: 0;
      top: 3.5rem; }
    .Composition__photo--p3 {
      left: 10%;
      top: 15rem; }
    .Composition__photo:hover {
      outline: 0.7rem solid #008cff;
      transform: scale(1.6) translateY(-0.8rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .Composition:hover .Composition__photo:not(:hover) {
    transform: scale(0.8); }

.about {
  font-size: 1.8rem; }

.form {
  height: 70%; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 60%;
    display: block;
    transition: all .3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #7ed56f; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #a00101; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

textarea {
  resize: none; }

.success {
  background-color: #7ed56f;
  border: 0.6px solid #28b485;
  border-radius: 4px;
  color: #777;
  font-size: 1.5rem;
  margin: 12px 0;
  padding: 4px;
  display: inline-block;
  animation: fade .2s; }

.error {
  background-color: #f89090;
  border: .6px solid red;
  border-radius: 4px;
  color: black;
  font-size: 1.5rem;
  margin: 12px 0;
  padding: 4px;
  display: inline-block;
  animation: fade .2s; }

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 0;
  font-size: 1.5rem;
  color: #f5f5f5;
  height: 20%; }
  .footer__logo-box {
    text-align: center;
    border-radius: 4px;
    width: 20rem;
    margin: auto;
    padding: 4px; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__list {
    list-style: none;
    font-size: 3rem;
    text-align: center; }
    .footer__list-adresses {
      margin: 0;
      padding-top: 40px; }
  .footer .email {
    width: 5% !important;
    padding: 0 !important; }
  .footer__link:link, .footer__link:visited {
    color: #f5f5f5;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .5;
    padding: 2rem; }
  .footer__link:hover, .footer__link:active {
    color: deepskyblue;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.5); }
  .footer__copyright {
    border-top: 1px solid #f5f5f5;
    margin: auto;
    padding-top: 2rem;
    width: 22rem; }
  .footer .fas {
    display: block;
    margin: 2rem;
    font-size: 4rem; }
  .footer__adresses {
    text-align: center;
    margin-bottom: 10rem;
    padding: 0 4px; }
  .footer h4 {
    text-align: center;
    padding-bottom: 5rem; }
  .footer [class^="col-"] {
    height: 10rem;
    margin-right: calc(6rem - 3rem) !important; }
    .footer [class^="col-"]:not(:nth-child(3)):not(:last-child) {
      border-right: 1px solid #f5f5f5;
      display: inline-block; }
    .footer [class^="col-"]:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
      border-left: 1px solid #f5f5f5; }

.popup {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  position: fixed; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
  .popup__close:hover {
    color: #008cff; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: table;
    overflow: hidden; }
  .popup__left {
    width: 50%;
    display: table-cell; }
  .popup__right {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 0.1rem solid #999;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 0.1rem solid #999;
    hyphens: auto; }

.rended {
  width: 80%;
  margin: 2rem auto;
  transition: all 1s;
  background-image: #777; }
  .rended .card {
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.6);
    background-color: #e4e1e1;
    color: #000;
    box-shadow: 4px;
    padding: 6rem;
    padding-left: 9rem;
    transform: skewX(-1.5deg) scale(1.1);
    border-radius: 2px;
    z-index: 10;
    transition: all .2s;
    position: relative;
    height: 20% !important; }
    .rended .card__item {
      transform: skewX(1.5deg);
      font-size: 1.2rem;
      margin-bottom: 2rem;
      -moz-column-count: 2;
      -moz-column-gap: 4rem;
      -moz-column-rule: 0.1rem solid #999;
      column-count: 2;
      column-gap: 4rem;
      column-rule: 0.1rem solid #999;
      hyphens: auto; }
    .rended .card-img-top {
      width: 100% !important; }
    .rended .card-text {
      font-size: 105%; }
    .rended .card:hover {
      z-index: 20; }
  .rended .feuille {
    margin-top: 0;
    margin-bottom: 3rem;
    margin-left: 35%; }

.d_none {
  display: none;
  visibility: hidden; }

.popup__close {
  position: fixed;
  background-color: white;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  z-index: 22222222000;
  box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer; }
  .popup__close:link, .popup__close:visited {
    color: #000;
    position: absolute;
    top: 83rem;
    left: 8rem;
    font-size: 6rem;
    text-decoration: none;
    transition: all .2s; }
  .popup__close:hover {
    color: #008cff; }

.member-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  transition: transform .3s; }
  .member-box__profile {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 100%; }
  .member-box__icon {
    font-size: 3rem;
    margin-bottom: .1rem;
    display: inline-block;
    background-image: linear-gradient(to right, deepskyblue, #085cf8);
    -webkit-background-clip: text;
    color: transparent; }
  .member-box:hover {
    animation-name: bounceIn;
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: transform .3s; }

.rended2 {
  width: 80%;
  height: 80%;
  margin: 2rem auto;
  transition: all 1s;
  background-image: rgba(0, 0, 0, 0.5); }

.services {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 4px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .services > * {
    transform: skewX(12deg); }
  .services__shapes {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(36% at 50% 50%);
    shape-outside: circle(36% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .services__img {
    width: 100%;
    transform: scale(1.1);
    backface-visibility: hidden;
    transition: all .5s; }
  .services__appreciation {
    transform: skewX(12deg);
    margin-left: 25px !important; }
  .services__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .services:hover .services__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .services:hover .services__img {
    transform: translateY(-2rem) scale(1);
    filter: blur(4px) brightness(60%);
    backface-visibility: hidden; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(8, 92, 248, 0.6), rgba(0, 191, 255, 0.3)), url(../img/head-bck.jpg);
  background-size: cover;
  background-position: right;
  position: relative;
  /* this is where the top and left attribute in logo-box start counting --- it's the reference inheritance*/
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    height: 35%;
    /* position: relative; */
    /* here top and left reference to the relative position in the mother parent container --- it's where they start counting */
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.699));
    background-size: cover;
    background-position: top left;
    /* this is where the top and left attribute in logo-box start counting --- it's the reference inheritance*/
    clip-path: polygon(0 34%, 8% 0, 14% 0, 0 60%);
    animation: moveInAngle 0.7s ease-out;
    backface-visibility: hidden; }
  .header__logo {
    /* no width needed coz it's figured out by the browser --- we could also had specify the width and let the browser define the height */
    height: 18.5%;
    margin-left: 2.5%;
    margin-top: 2.9%;
    animation: moveInTop 0.7s ease-out; }
  .header__icon-sub {
    display: block;
    color: #fff;
    text-align: right;
    font-size: 1rem;
    font-weight: 200;
    margin-top: -.3rem;
    letter-spacing: .8rem;
    animation: moveInTop 0.7s ease-out; }
  .header__text-box {
    position: absolute;
    /* same like we did up-top but here we center the box and set the beginning of it to his middle so the box will be set the the center of the container  */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.rows1 {
  max-width: 112rem;
  margin: 0 auto; }
  .rows1:not(:last-child) {
    margin-bottom: 6rem; }
  .rows1::after {
    content: "";
    display: table;
    clear: both; }
  .rows1 [class^="col-"] {
    float: left; }
    .rows1 [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .rows1 .col-1-of-two {
    width: calc(((100% - 6rem) / 2));
    font-size: 1.7rem; }
  .rows1 .col-1-of-three {
    width: calc((100% - 2 * 6rem) / 3); }
  .rows1 .col-2-of-three {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .rows1 .col-1-of-four {
    width: calc((100% - 3 * 6rem) / 4); }
  .rows1 .col-2-of-four {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .rows1 .col-3-of-four {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.navigation__checkbox {
  display: none; }
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer; }
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(deepskyblue, rgba(8, 92, 248, 0.8));
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer; }
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }
.navigation__item {
  margin: 1rem; }
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .5s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #008cff;
  transform: translateX(1rem); }
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }
.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #000;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .3s;
    backface-visibility: hidden; }
  .navigation__icon::before {
    top: -.7rem; }
  .navigation__icon::after {
    top: .7rem; }
.navigation__button:hover .navigation__icon::before {
  top: -1.2rem; }
.navigation__button:hover .navigation__icon::after {
  top: 1.2rem; }
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #f5f5f5;
  padding: 25rem 0;
  margin-top: -20vh;
  height: 57vh;
  font-size: 1.8rem; }

.section-team {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(0, 191, 255, 0.7), rgba(8, 92, 248, 0.9)), url(../img/team.jpg);
  background-size: cover;
  margin-top: 15rem;
  transform: skewY(-7deg); }
  .section-team > * {
    transform: skewY(7deg); }

.section-products {
  background-color: #f5f5f5;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }

.section-clients {
  position: relative;
  padding: 20rem 0;
  outline-offset: 1.4rem; }

.section-services {
  position: relative;
  padding: 15rem 0; }

.section-services1 {
  position: relative;
  padding: 0rem 0;
  height: 98%; }

.section-contact {
  padding: 16rem 0;
  background-image: linear-gradient(to right bottom, deepskyblue, #085cf8);
  margin-top: 10rem; }

.contact {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/contact-us.jpg);
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.6);
  height: 55rem; }
  .contact__form {
    width: 50%;
    padding: 0 6rem; }

/*# sourceMappingURL=style.css.map */
