// css animation of the page ar created here | they are named so that it become easy yo understand what it does


@keyframes moveInTop {
    /* this happen at the beginning --- what we want it to be at the beginning */
    0% {
        opacity: 0;
        /* x because we want it to translate on X axe --- and the negative value because it start a the left side which is in negative value */
        transform: translateY(-10rem);
    }
    /* the inter-media position */
    // 80% {
    //     transform: translateY(1rem)
    // }
    /* what we want it to be at the end */
    100% {
        opacity: 1;
        /* zero because we want it to be at where it is now(in the middle) that's why the 0 value which the center of axes */
        transform: translate(0)
    }
}

@keyframes moveInAngle {
    0% {
        opacity: 0;
        transform: rotate(360deg) scale(2);
    }
    // 80%{
    //     transform: rotate(360deg) scale(2);
    // }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    /* this happen at the beginning --- what we want it to be at the beginning */
    0% {
        opacity: 0;
        /* x because we it to translate on X axe --- and the negative value because it start a the left side which is in negative value */
        transform: translateX(-10rem);
    }
    /* the inter-media position */
    80% {
        transform: translateX(1rem)
    }
    /* what we want it to be at the end */
    100% {
        opacity: 1;
        /* zero because we want it to be at where it is now(in the middle) that's why the 0 value which the center of axes */
        transform: translate(0)
    }
}

@keyframes moveInRight {
    /* this happen at the beginning --- what we want it to be at the beginning */
    0% {
        opacity: 0;
        /* the positive value because it start a the right side which is in positive value */
        transform: translateX(10rem);
    }
    /* the inter-media position */
    80% {
        transform: translateX(-1rem)
    }
    /* what we want it to be at the end */
    100% {
        opacity: 1;
        /* zero because we want it to be at where it is now(in the middle) that's why the 0 value which the center of axes */
        transform: translate(0)
    }
}

@keyframes moveInBottom {
    /* this happen at the beginning --- what we want it to be at the beginning */
    0% {
        opacity: 0;
        /* the positive value because it start a the right side which is in positive value */
        transform: translateY(3rem);
    }
    70% {
        transform: translateY(-1rem);
    }
    /* what we want it to be at the end */
    100% {
        opacity: 1;
        /* zero because we want it to be at where it is now(in the middle) that's why the 0 value which the center of axes */
        transform: translate(0)
    }
}

@keyframes moveIn{
     0% {
         /* the positive value because it start a the right side which is in positive value */
         transform: translateY(-2rem) scale(1.05);
         
     }

     50% {
         transform: translateY(-2rem) scale(1.01);
     }

     70% {
         transform: translateY(-2rem) scale(1.04);
     }

     /* what we want it to be at the end */
     100% {
         /* zero because we want it to be at where it is now(in the middle) that's why the 0 value which the center of axes */
         transform: translateY(-2rem) scale(1.03);
     }
}
@keyframes bounceIn {
    0% {
        transform: scale(1.17) translate3d(0, 0, 0);
    }

    50% {
        transform:translateY(-2rem);
        transform: scale(1.1);
    }

    80% {
        opacity: 1;
        transform: scale(1.15);
    }

    100% {
        opacity: 1;
        transform: scale(1.1) translate3d(0, 0, 0);
    }
}

@keyframes scrollingUpperLittleChild {
    0% {
        
        transform: translateY(-.9rem);
        filter: blur(1px) brightness(110%);
        backface-visibility: hidden;

    }

    50% {
        
        transform: translateY(20rem) scale(1.6) skewX(-12deg);
        opacity: .9;
        
    }

    80% {
        
        transform: translateY(20rem) scale(1.6) skewX(-12deg);
        opacity: .9;

    }

    98% {
        
        transform: translateY(-.9rem) scale(1.1) skewX(-12deg);
        opacity: 1;

    }

    /* what we want it to be at the end */
    100% {
       
        transform: translateY(-.01rem) scale(1.1) skewX(-12deg);
        opacity: 0;
         filter: blur(6px) brightness(90%);
         backface-visibility: hidden;
    }
}

@keyframes scrollingMiddleChild {
    0% {
        
        transform: translateY(-.9rem);
        //  filter: blur(4px) brightness(60%);
        //  backface-visibility: hidden;

    }


    /* what we want it to be at the end */
    100% {
        
        transform: translateY(0.0000001rem) scale(1.6) skewX(-12deg);
        //  filter: blur(4px) brightness(40%);
         backface-visibility: hidden;
    }
}

@keyframes scrollingBottomLittleChild {
    0% {
        
        transform: translateY(.01rem) scale(1.1) skewX(-12deg);

    }

    95% {
        transform: translateY(.01rem) scale(.4) skewX(-12deg);
        opacity: 0;
    }
    /* what we want it to be at the end */
    100% {
        
        transform: translateY(.01rem) scale(1.1) skewX(-12deg);
        opacity: 1;
        filter: blur(6px) brightness(90%);
        backface-visibility: hidden;
    }
}



