// general styling are made here


* {

    &::after,
    &::before {
        margin: 0;
        padding: 0;
        /* here force every element to inherit the box-sizing of the body*/
        box-sizing: inherit;
        z-index: 999999999999999999999999999999;
    }
}


html {
    // this define what 1rem is
    font-size: 56.25%;
    
}

body {
    box-sizing: border-box;
    // background-color: $color-grey-light-1;
   
}