body{
    font-family: "Lato",
    sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 0rem 3rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    /* this is for the little shake move that happens after the animation --- it makes it invisible */
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        text-align: center;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /* 
    animation-delay: 1s; 
    animation-iteration-count: 3;
    */
    }

    &--sub {
        display: block;
        font-size: 2.2rem;
        font-weight: 700;
        letter-spacing: .45rem;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark); 
    -webkit-background-clip: text;
    color: transparent; 
    letter-spacing: 2px;
    transition: all .2s;

    &:hover{
        transform:skewY(3deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black,.7);
    }
}


.heading-secondary__contact {
    margin-bottom: 1.6rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    &:hover {
        transform: skewY(3deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .7);
    }
}

.heading-secondary-2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 1px;
    transition: all .2s;

    &:hover {
        transform: skewY(1deg) scale(1.05);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .7);
    }
}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 400;
    text-transform: uppercase;
}

.Paragraph{
    font-size: $default-font-size;
    margin-bottom: 3rem;
    // &:not(:last-child){
        
    // }
}