// everything that it's judged to be utile in the styling are initiated here

// simple naming of variables | this can be even named dog if you want as long as you know what it does and where they are pointing | wtch class names in html
.u-center-text{ text-align: center; }

.u-margin-bottom-small{ margin-bottom: 1rem; }
.u-margin-bottom-small-2 {
    margin-bottom: 0.05rem;
    margin-top: -2rem;
}
.u-margin-bottom-medium{ margin-bottom: 2rem; }
.u-margin-bottom-big{ margin-bottom: 4rem; }

.u-margin-top-big{ margin-top: 4rem; }