// fixing browser default bugs | actually we most dont know why it happens or works but it fix it
@mixin clearfix{
    &::after{
        content: "";
        display:table;
        clear:both;
    }
}

// created mixin for centering this | it seems that  i have set a lot of things so this was created to save time and just call it for doing the job | it's shows then the utility of having mixins
@mixin centerOBJ{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

