
// all colors you will see in setted in files were initiated here | then here is the use of variables | then if we want to change a color , fonts, pixels in the page we just come here and set it

$color-primary:#008cff;
$color-primary-light:rgb(0, 191, 255);
$color-primary-dark:rgb(8, 92, 248);
$color-attached-red:rgb(255, 255, 255);
$color-attached-pink:rgb(255, 255, 255);

$color-secondary-light:rgba(196, 64, 93, 0.847);
$color-secondary-dark:rgb(155, 0, 47);

$color-invalid:rgb(160, 1, 1);

$color-tertiary-light:#7ed56f;
$color-tertiary-dark:#28b485;


$color-grey-light-1:#f5f5f5;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3: rgba(0, 0, 0, .5); 

$color-white:#fff;
$color-black:#000;

// font
$default-font-size:1.6rem;

// pixels | this is for the middle the space between rows
$grid-width:112rem;
$gutter-vertical:6rem;
$gutter-horizontal:6rem;